html,body, .all_section{
    scroll-behavior: smooth;
}



.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.typewriter {
    overflow: hidden;
    /*margin: 0 auto;*/
    border-right: .15em solid #11998e;
    white-space: nowrap;
    animation: 
        hide_ending 4s 0s normal,
        typing 2s 4s steps(40) normal both,
        blinking_caret 0.75s 4s steps(40) infinite normal
    ;
}



@keyframes fade_in_y {
    from {
        transform: translateY(-10em);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes fade_in_x {
    from {
        transform: translateX(-10em);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0em);
    }
}


@keyframes hide_about {
    from,to {
        visibility: hidden;
    }

}

@keyframes hide_ending {
    from,to {
        border-right: 0em;
    }

}

@keyframes fade_in_arrow {
    from {
        transform: translateY(-1em);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 25.2em;
    }
}


@keyframes blinking_caret {
    from, to {
        border-color: transparent;
    }
    100% {
        border-color:  #11998e;
    }
}

.navigate {
   /* border-radius: 2vw;
    border: 2px solid #73AD21;
    padding: 1.5vw; 
    width: 2vw;
    height: 20vh;  */
    position: fixed;
    bottom: 40vh;
    z-index: 10;
    right: 2vw;
}

.circle_navigation {
    height: 1vh;
    width: 1vh;
    margin-bottom: 2px;
    background-color: #555555;
    border-radius: 50%;
}

ul.nav {
    position: fixed;
    padding: 10px;
    z-index: 10;
    left: 2vh;
    bottom: 50vh;
}

.underline {
    background-size: 1px 1em;
    box-shadow: 
        inset 0 -0.15em #ff8484;
    display: inline;
}

#heading1 {
    /*font-size: 5em;
    font-weight: bold;
    font-family: Helvetica Neue;*/
    position: relative;
    font-size: 8vh;
    top: 20vh;
    /*line-height: 15vh;*/
    left: 8vw;
    font-stretch: ultra-expanded;
    animation: fade_in_y  ease 2s;
}

#heading2 {
    /*font-size: 5em;
    font-weight: bold;
    font-family: Helvetica Neue;*/
    position: relative;
    left: 8vw;
    font-size: 2.5vh;
    top: 28vh;
    animation: 
        hide_about 2s 0s normal,
        fade_in_x ease 2s 2s;
    /*line-height: 15vh;*/
}

#Section1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: block;
    position: relative;
    right: 0.5vw;
}

#Section1 {
    margin-bottom: 3vh;
    position: relative;
    right: 0.25vw;
}

#Section2 {
    margin-bottom: 3vh;
    position: relative;
    right: 0.25vw;
}

#Section3 {
    position: relative;
    right: 0.25vw;
}


#typedtext {
    position: relative;
    top: 32vh;
    left: 8vw;
    text-decoration: none;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 3px;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: auto;
}

#arrow0 {
    position: relative;
    top: 45vh;
    margin: auto;
    animation: 
        hide_about 6.2s;
}

.arrow:hover {
    border-color:  #11998e;
}


#arrow1 {
    position: relative;
    top: 75%;
    /*bottom: 8em;*/
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 3px;
    display: block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    margin: auto;
    visibility: hidden;
}

#link {
    word-break: break-word;
}

#link:hover {
    text-decoration: none;
}

.opening {
    height: 100vh;
    display: block;
    font-family: OCR A Std, monospace;
    overflow: hidden;
    width: 100%;
    background-image: url('background_img5.jpg'), linear-gradient(to right,black, #18191A,#b4b4b4 , #F44336); 
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    font-family: 'Space Mono';
    scroll-snap-align: start;
}

.field {
    font-family: inherit;
    border: 0;
    position: relative;
    /*right: 100px;*/
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    margin: auto;
    /*padding: 7px 0;*/
    background: transparent;
    transition: border-color 0.2s;
    top: 36vh;
    width: 100%;
}
@media screen and (min-width: 1000px) {
    .field {
        width: 50vw;
    }
    .form {
        background-image: url("side_image3.jpg");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 37% 100%;
        background-color: #18191A;
    }
}

.form_label {
    display: block;
    /*bottom: 50px;*/
    /*right: 100px;*/
    position: relative;    
    transition: 0.2s;
    font-size: 1rem;
    color: grey;
    top: 31vh;
    font-size: 0.8em;
}
.form {
    display: block;
    position: relative;
   /* padding: 15px 0 0;*/
    padding: 6vw;
    margin-top: 10px;
   /* width: 43%;*/
    font-family: OCR A Std, monospace;
    /*height: 1000px;*/
    /*overflow: auto;*/
    height: 100vh;
    overflow: hidden;
    /*
    background-image: url('background_img3.jpg');
    background-size: cover;
    background-color: #333333;
    background-blend-mode: multiply;
    /*background-color: #222222;*/
    scroll-snap-align: start;
    font-size: 1.5vh;
}
.output {
    height: 100vh;
    width: 100vw;
    font-family: OCR A Std, monospace;
    /*overflow: auto;*/
    background-color: #7f7d9c;
    scroll-snap-align: start;
    display: none;
}

.field::placeholder {
    color: transparent;
}
.field:placeholder-shown ~ .form_label {
    font-size: 1em;
    cursor: text;
    top: 32.5vh;
}
.field:required {
    box-shadow: none;
}
.field:invalid {
    box-shadow: none;
}
.field:focus ~ .form_label {
    display: block;
    transition: 0.2s;
    position: relative;
    top: 30.5vh;
    font-size: 0.8em;
    color: #11998e;
    font-weight: 700;
}
.field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.submit_btn {
    border: 2px solid white;
    border-color:grey;
    position: relative;
    top: 37vh;
    /*left: 21%;*/
    /*background-color: inherit;*/
    padding: 2vh 4vh;
    cursor: pointer;
    display: inline-block;
}

.submit_btn:hover {
    border-color:  #11998e;
    color: #11998e !important;
}
/*
#lol {
    border: #11998e;
}*/
/*
* {
    box-sizing: border-box;
    border: 1px solid green; 
}*/

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* overflow: auto;*/
    align-items: center;
    min-height: 100vh;
    margin: auto;/*
    overflow: hidden;
    overflow-y: hidden;
    overscroll-behavior-y: none;*/
    overscroll-behavior-x: none;
    overflow-y: hidden;
    /*font-size: 1.5rem;*/
    background-color: #222222; 
}


.all_section {
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    margin-left: 100px;
    margin-right: 150px;
    margin-bottom: 30px;
}
#form {
    position: relative;
    height: 100vh;
}


